.dicas-container {
  width: 80%;
  margin: 0 auto;
  padding: 10px 5px;
  color: #333;
}

.dicas-header {
  margin-bottom: 30px;
  text-align: center;
}

.dicas-header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #000;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.veterano-text {
  color: #000769;
  font-weight: bold;
}

.dicas-intro {
  line-height: 1.4;
  color: #464646;
  max-width: 60%;
  margin: 0 auto;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.dicas-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #000;
  text-align: left;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.dicas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.dica-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.dica-card:hover {
  transform: translateY(-5px);
}

.dica-icon {
  font-size: 22px;
  color: #000769;
  margin-bottom: 5px;
}

.dica-card h3 {
  font-size: 18px;
  color: #000769;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.dica-card p {
  font-size: 15px;
  line-height: 1.4;
  color: #555;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}