.mapa-campus-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

/* Título centralizado */
.titulo-mapa {
  width: 80%;
  font: var(--title-paragraph-font);
  text-align: left;
  margin-bottom: 2rem;
  color: #222;
  letter-spacing: 2px;
}

.mapa-campus-container__mapa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70vh;
}

.container-mapa-FERA {
  display: flex;
  background: rgb(240, 240, 240);
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.container-mapa-FERA:hover {
  transform: scale(1rem);
}

@media (max-width: 768px) {
  .container-mapa-FERA {
    width: 80%;
  }
}