.container-membros {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.membros__titulo {
  width: 80%;
  height: 15%;
  display: flex;
  justify-content: start;
  text-align: center;
  font: var(--title-font);
  color: black;
  letter-spacing: 2px;
}

.membros__galeria {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 10px;
}

.galeria__item {
  width: 95%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: max-content;
  border-radius: 8px;
  padding: 6px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item__foto-membro-ativo {
  width: 50px;
  height: 50px;
  border-radius: 5%;
  object-fit: cover;
  border: 2px solid #f0f0f0;
}

.item__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info__nome {
  margin-left: 2%; 
  margin-bottom: 3%;
  font: var(--paragraph-font);
  letter-spacing: 0.3px;
  font-weight: 600;
  line-height: 1.2;
}

.info__icones--redes {
  display: flex;
  gap: 2px;
  margin-left: 2%; 
}

.redes__link--github {
  color: black;
}

.redes__link--linkedin {
  color: #0c7fbd;
}

.redes__link--linkedin,
.redes__link--github {
  transition: transform 0.3s ease;
}

.redes__link--linkedin:hover,
.redes__link--github:hover {
  transform: translateY(1px);
}

.linkedin__icone,
.github__icone {
  font-size: var(--paragraph-font-size);
}

@media (max-width: 540px) {
  .membros__titulo {
    justify-content: center;
  }

  .membros__galeria {
    width: 90%; 
    height: 85%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center; 
  }

  .galeria__item {
    width: 80%; 
    margin-bottom: 3%;
    gap: 8px;
    padding: 8px;
    justify-content: flex-start; 
  }
}

@media (min-width: 541px) and (max-width: 768px) {
  .membros__titulo {
    justify-content: center;
  }

  .membros__galeria {
    width: 98%;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .galeria__item {
    width: 80%;
    margin-bottom: 4%;
  }
}


@media (min-width: 769px) and (max-width: 1024px) {
  .membros__titulo {
    justify-content: center;
    height: 12%;
  }

  .membros__galeria {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .galeria__item {
    width: 98%;
    margin-bottom: 4%;
  }
}


@media (min-width: 1025px) and (max-width: 1439px) {
  .membros__galeria {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .galeria__item {
    width: 90%;
  }
}


@media (min-width: 1440px) {
  .membros__galeria {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    max-width: 1400px;
  }
  
  .galeria__item {
    width: 95%;
  }
}
