.contacts-container {
  width: 100%;
  justify-items: center;
}

.contacts-container__title {
  width: 80%;
  font: var(--title-paragraph-font);
  margin-bottom: 2rem;
  color: #000;
  text-align: left;
  letter-spacing: 2px;
}

.contacts-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contact-card {
  width: 95%;
  padding: 5px;
  border-radius: 8px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.contact-card__title {
  font: var(--paragraph-font);
  margin-bottom: 10px;
  color: #000769;
  letter-spacing: 1px;
}

.contact-card__info {
  font: var(--other-font);
  margin: 8px 0;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-card__info--icon {
  color: #000769;
  flex-shrink: 0;
}

@media (max-width: 1259px) {
  .contacts-grid {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1.5rem;
  }

  .contact-card {
    justify-items: center;
  }
}

/* @media (max-width: 840px) {
  .contacts-grid {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 1.5rem;
  }

  .contact-card {
    width: 95%;
    justify-items: center;
  }

  .contact-info {
    width: 90%;
  }
} */