.container-membros {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membros__titulo {
    width: 75%;
    height: 15%;
    display: flex;
    justify-content: start;
    font-size: 3rem;
    color: black;
    font-weight: 700;
    text-align: center;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
}

.membros__galeria {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.galeria__item {
    width: 80%;
    height: max-content;
    margin-bottom: 12%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 1%;
}

.item__foto-membro-ativo {
    width: 120px;
    height: 120px;
    border-radius: 10%;
    object-fit: cover;
}

.item__info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.info__nome {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1%;
}

.info__icones--redes {
    display: flex;
    gap: 1.1%;
}

.redes__link--github {
    color: black;
}

.redes__link--linkedin {
    color: #0c7fbd;
}

.redes__link--linkedin,
.redes__link--github {
    transition: transform 0.4s;
}

.redes__link--linkedin:hover,
.redes__link--github:hover {
    transform: translateY(2px);
}


@media (max-width: 375px) {
    .membros__titulo {
        justify-content: center;
        font-size: 2rem;
    }
    
    .membros__galeria {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    .galeria__item {
        width: 100%;
        height: max-content;
        margin-bottom: 12%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 1%;
    }
    .item__foto-membro-ativo {
        width:  80px;
        height: 80px;
        border-radius: 10%;
        object-fit: cover;
    }
    
    .info__nome {
        font-size: 1.3rem;
    }
}

@media (min-width: 376px) and (max-width: 540px) {
    .membros__titulo {
        justify-content: center;
        font-size: 2rem;
    }
    
    .membros__galeria {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    .galeria__item {
        width: 100%;
        height: max-content;
        margin-bottom: 12%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 1%;
    }
    .item__foto-membro-ativo {
        width:  80px;
        height: 80px;
        border-radius: 10%;
        object-fit: cover;
    }
    
    .info__nome {
        font-size: 1.5rem;
    }
}

@media (min-width: 541px) and (max-width: 1024px) {
    .membros__titulo {
        justify-content: center;
        font-size: 2rem;
    }

    .membros__galeria {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .galeria__item {
        width: 100%;
    }

    .info__nome {
        font-size: 1.6rem;
    }
}
