.container__carrousel {
    width: 100%;
    height: 100%;
    display: flex;
}

.carrousel__card {
    /* temporario ate a insercao do conteudo real do instagram */
    display: flex;
    justify-content: center;
    align-items: center;
    /* -------------------------------------------------- */
    background: linear-gradient(to right,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
    border-radius: 5px;
    width: 25%;
    height: 120%;
    position: relative;
    left: 0px;
    transition: transform 0.3s ease, left 0.3s ease, background 0.3s ease;
}

.carrousel__card:hover {
    transform: translateY(-5px);
}

/* .carrousel__card:not(:first-child) {
    margin-left: -50px;
}

.carrousel__card:hover:not(:first-child) {
    left: 50px;
}

.carrousel__card:hover:not(:first-child) ~ .carrousel__card {
    left: 50px;
}

.container__carrousel .carrousel__card:nth-child(1) {
    z-index: 4;
}
.container__carrousel .carrousel__card:nth-child(2) {
    z-index: 3;
}
.container__carrousel .carrousel__card:nth-child(3) {
    z-index: 2;
}
.container__carrousel .carrousel__card:nth-child(4) {
    z-index: 1;
} */