.container-sobre {
  width: 100%;
  height: 100%;
  display: flex;
}

/*resposividade monitor*/
@media screen and (min-width: 1600px) {
    .container-aurora{
      height: 20vh;
    }
}

/*resposividae mobile*/
@media screen and (max-width: 768px) {
  .tela-sobre {
    flex-direction: column;
    height: 100vh; /* deixa altura automática para evitar cortes */
  }

  .secao-esquerda,
  .secao-direita {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
  }

  /* reduz altura para caber melhor no mobile */
  .container-aurora {
    height: 20vh;
  }
}