.functionPAI{
    position: relative;
}

.container-aurora {
    width: 100%;
    height: 20vh;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    z-index: 10;
}

.tela-sobre {
    display: flex;
    width: 100%;
    height: 100%;
}

/*seção destinada a parte esquerda da pagina SOBRE*/
.secao-esquerda {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*seção destinada a parte direita da pagina SOBRE*/
.secao-direita {
  width: 50%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container-texto h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 100px;
    padding-bottom: 50px;
}

.container-vertentes {
    display: flex;
    gap: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    margin-top: 20px;
}

.container-pesquisa,
.container-extensao,
.container-tutoria {
    padding: 20px 25px;
    background-color: rgb(24, 8, 112,0.85);
    border: 1px solid #1a097d;
    color: #ffffff;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
    transition: transform 0.3s, box-shadow 0.4s, background-color 0.3s;
    border-radius: 30px; 

}

/* vai da esquerda pra direita*/
.container-pesquisa:hover {
    transform: translate(20px, -8px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 1.5);
    background-color: #ffffff;
    color: #101012;
}

/*vai pra cima*/
.container-extensao:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 1.5);
    background-color: #ffffff;
    color: #101012;
}

/*vai da direita pra esqierda*/
.container-tutoria:hover {
    transform: translate(-20px, -8px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 1.5);
    background-color: #ffffff;
    color: #101012;
}







/*responsivo*/

@media screen and (max-width: 1400px) {
    /* Ajustes na seção direita */
    .secao-direita {
        padding: 20px; /* Reduz o padding */
    }

    .container-texto h1 {
        font-size: 1.8rem; /* Reduz o tamanho da fonte */
        margin-top: 20px; /* Reduz a margem superior */
        padding-bottom: 0px; /* Reduz o padding inferior */
    }

    .container-vertentes {
        gap: 10px; /* Reduz o espaçamento entre cards */
        font-size: 0.9rem; /* Reduz o tamanho da fonte */    
        margin-top: 5px;
    }

    .container-pesquisa,
    .container-extensao,
    .container-tutoria {
        padding: 5px 15px; /* Reduz o padding interno */
    }

    /* Ajusta os efeitos hover para deslocamento menor */
    .container-pesquisa:hover {
        transform: translate(10px, -5px) scale(1.02);
    }

    .container-tutoria:hover {
        transform: translate(-10px, -5px) scale(1.02);
    }
}
