.secao-membros-ativos {
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: aliceblue;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
}

.galeria {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6rem;
    padding-left: 100px;
    justify-items: start;
}

.item-galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.item-galeria .foto-membro-ativo {
    width: 110px;
    height: 110px;
    border-radius: 8px;
    object-fit: cover;
}
