.faq-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.faq-title {
  font-size: 24px;
  margin-bottom: 35px;
  color: #000;
  text-align: left;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  background-color: #fff;
  padding: 0;
box-shadow: 0 1px 3px rgba(0,0,0,0.2);


}

.faq-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.faq-icon {
  font-size: 20px;
  color: #000769;
  padding: 2px;
}

.faq-question {
  font-size: 18px;
  margin: 0;
  color: #000769;
}

.faq-answer {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-left: 35px; /* Alinhar com o ícone */
  margin-bottom: 20px;
  font-family: "Lato", sans-serif;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0;
}