.navbar-container {
  position: relative;
  padding-bottom: 150px;
  padding-left: 880px;
}

/* deixa o menu numa linha horizontal */
.navbar-list {
  display: flex; 
  gap: 40px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

/* pintar botão */
.navbar-link {
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  transition: font-size 0.3s ease;
  display: inline-block;
}

/*efeito quando passa o mouse*/
.navbar-link:hover {
  font-size: 1.4rem; 
  transform: scale(1.05);
}
