.navbar-container {
  position: fixed;
  top: 40px;
  right: 60px;
  z-index: 1000;
}

/* deixa o menu numa linha horizontal */
.navbar-list {
  display: flex; 
  gap: 30px; 
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end; 
}

/* pintar botão */
.navbar-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 1.5rem;
  transition: font-size 0.3s ease;
  display: inline-block;
}

/*efeito quando passa o mouse*/
.navbar-link:hover {
  background-color: #ffffff;
  color: #220779;
  font-size: 1.6rem; 
  transform: scale(1.12);
}
