/* Container geral da seção */
.guia-FERA-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Arial', sans-serif;
  margin-top: 1rem;
}

.titulo-descricao-guia-FERA-container {
  width: 70%;
}

/* Título da seção */
.titulo-guia-FERA h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 8px;
  font-family: 'Playfair Display', serif;
letter-spacing: 2px;
}

.destaque-FERA {
  color: #00065e; 
}

/* Texto de descrição abaixo do título */
.descricao-guia-FERA p {
  font-size: 0.9rem;
  text-align: center;
  color: #555;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;

}

/* Bloco dos "Primeiros Passos" */
.box-primeirospassos-guia-FERA {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Título dos passos */
.titulo-primeiros-passos {
  font-size: 1.7rem;
  color: #000000;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

/* Área que contém os 3 cards lado a lado */
.cards-passos {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* Cada card individual */
.card-passo {
  color: rgb(2, 2, 2);
  background-color: #fff;
  box-shadow: 0 5px 8px rgba(0,0,0,0.2);
  padding: 1.5rem;
  border-radius: 15px;
  width: 30%;
  text-align: center;
}

/* Ícone no topo do card */
.icone-card {
  background: #000fda;
  color: rgb(255, 255, 255);
  width: 50%;
  justify-self: center;
  font-size: 1.5rem;
  padding: 4px;
  border-radius: 10px;
}

/* Título do card */
.titulo-card {
  font-size: 1.1rem;
  font-family: 'Playfair Display', serif;
letter-spacing: 1px;
}

/* Texto do card */
.texto-card {
  font-size: 1rem;
  line-height: 1.3;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    text-align: justify;
}

/* Dimensões */

/* Mobile S --> Mobile L */
@media (max-width: 425px) {
  .titulo-guia-FERA h1 {
    font-size: 1.8rem;
  }

  .descricao-guia-FERA p {
    font-size: 1rem;
  }
  
  .cards-passos {
    flex-direction: column;
    align-items: center;
  }

  .card-passo {
    width: 80%;
  }

  .titulo-card {
    font-size: 1.4rem;
  }

  .texto-card {
    font-size: 1.25rem;
  }
}

/* Tablet */
@media (min-width: 426px) and (max-width: 1024px) {
  
  .titulo-guia-FERA h1 {
    font-size: 2.4rem;
  }

  .descricao-guia-FERA p {
    font-size: 1.4rem;
  }

  .titulo-primeiros-passos {
    font-size: 1.8rem;
  }

  .icone-card {
    width: 70%;
    font-size: 1.5rem;
  }

  .titulo-card {
    font-size: 1.3rem;
  }

  .texto-card {
    font-size: 1.1rem;
  }
}

/* Laptop --> Laptop L */
@media (min-width: 769px) and (max-width: 1440px) {
  
  .titulo-guia-FERA h1 {
    font-size: 2.5rem;
  }

  .descricao-guia-FERA p {
    font-size: 1.5rem;
  }

  .titulo-primeiros-passos {
    font-size: 2rem;
  }

  .icone-card {
    font-size: 2rem;
  }

  .titulo-card {
    font-size: 1.5rem;
  }

  .texto-card {
    font-size: 1.3rem;
  }
}

/* 4K */
@media (min-width: 1441px) {

  .titulo-guia-FERA h1 {
    font-size: 4rem;
  }

  .titulo-descricao-guia-FERA-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descricao-guia-FERA {
    width: 100%;
  }

  .descricao-guia-FERA p {
    width: 100%;
    font-size: 2.5rem;
  }

  .titulo-primeiros-passos {
    font-size: 2rem;
  }

  .icone-card {
    font-size: 2rem;
  }

  .titulo-card {
    font-size: 1.5rem;
  }

  .texto-card {
    font-size: 1.3rem;
  }
}
