/* Container principal */
.texto-PET {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 12%;
}

/* Estilo do título */
.titulo-texto {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  color: #ffffff;
  margin-bottom: 0.8rem; /* Espaço entre título e primeiro parágrafo */
  text-align: left;
  max-width: 80%;
  margin-left: 40%;
}

/* Estilo dos parágrafos */
.corpo-texto, .corpo-texto2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: #ffffff;
  text-align: left;
  max-width: 70%;
  line-height: 1.6;
  margin-bottom: 0.1rem; 
    margin-left: 25%;

}

.corpo-texto2:last-child {
  margin-bottom: 0;
}