.contacts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.contacts__title-container {
  width: 90%;
}

.contacts__title-container h1 {
  font-size: 2rem;
  color: #000;
  text-align: left;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

.contacts-grid {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact-card {
  border-radius: 8px;
  padding: 0.6rem;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.contact-card h2 {
  font-size: 1.3rem;
  color: #000769;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.contact-card p {
  font-size: 1rem;
  margin: 8px 0;
  line-height: 1.4;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  color: #000769;
  flex-shrink: 0;
}


/* Dimensões */

/* Mobile S --> Mobile L */
@media (max-width: 425px) {
  .contacts-grid {
    flex-direction: column;
  }
}

/* Tablet --> Laptop */
@media (min-width: 426px) and (max-width: 1024px) {
  
  .contacts-grid {
    flex-direction: column;
  }

  .contacts__title-container h1 {
    font-size: 2.3rem;
  }

  .contact-card {
    padding: 0.8rem;
  }

  .contact-card h2 {
    font-size: 1.5rem;
  }

  .contact-card p {
    font-size: 1.3rem;
  }  
}

/* Laptop L */
@media (min-width: 1025px) and (max-width: 1440px) {
  .contact-card {
    width: 32%;
  }

  .contacts__title-container h1 {
    font-size: 2.6rem;
  }

  .contact-card {
    padding: 1rem;
  }

  .contact-card h2 {
    font-size: 1.8rem;
  }

  .contact-card p {
    font-size: 1.5rem;
  }  
}

/* 4K */
@media (min-width: 1441px) {
  .contact-card {
    width: 32%;
  }

  .contacts__title-container h1 {
    font-size: 3rem;
  }

  .contact-card {
    padding: 1.3rem;
  }

  .contact-card h2 {
    font-size: 2.5rem;
  }

  .contact-card p {
    font-size: 2rem;
  }
}
