.feras-guide-container {
  width: 90%;
  margin: 0 auto;
  color: #333;
  line-height: 1.6;
}

.feras-header {
  text-align: center;
  margin-bottom: 40px;
}

.feras-main-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.feras-introduction {
  line-height: 1.4;
  color: #464646;
  max-width: 60%;
  margin: 0 auto;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.disciplinas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-bottom: 40px;
}

.disciplina-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.disciplina-titulo {
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color:  #000ece;
  margin-bottom: 0px;
}

.disciplina-metadata {
  display: flex;
  gap: 15px;
  margin-bottom: 0px;
  color: #555;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;
}

.disciplina-descricao {
  font-size: 0.9rem;
  font-family: "Lato", sans-serif;  
  margin-bottom: 0px;
  color: #444;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 0;
}

.topicos-titulo, .dicas-titulo {
  font-size: 1.3rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color:  #000769;
  margin-bottom: 0px;
}

.topicos-lista, .dicas-lista {
  padding-left: 20px;
  margin-bottom: 0px;
  font-size: 0.9rem;
  font-family: "Lato", sans-serif; 
}

.topicos-lista li, .dicas-lista li {
  margin-bottom: 1px;
  
}

.ajuda-container {
  background-color: rgb(0, 14, 216,0.8);
  border-radius: 8px;
  padding: 10px;
  text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.ajuda-titulo {
  font-size: 24px;
  color: #f5f5f5;
  margin-bottom: 10px;
}

.ajuda-texto {
  font-size: 16px;
  margin-bottom: 10px;
    color: #f5f5f5;

}

.dicas-rapidas {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
    color: #f5f5f5;

}

.dica-item {
  display: flex;
  align-items: center;
  gap: 25px;
}

.dica-icon{
    color: white;
}

