.feras-guide-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.feras-header {
  width: 90%;
  text-align: center;
}

.feras-main-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #000;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.feras-introduction {
  width: 90%;
  line-height: 1.4;
  color: #464646;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.disciplinas-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.disciplina-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.disciplina-titulo {
  font-size: 1.7rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color:  #000ece;
  margin-bottom: 0px;
}

.disciplina-metadata {
  display: flex;
  gap: 1rem;
  margin-bottom: 0px;
  color: #555;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.disciplina-descricao {
  font-size: 1rem;
  font-family: "Lato", sans-serif;  
  margin-bottom: 0px;
  color: #444;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 10px 0;
}

.topicos-titulo, 
.dicas-titulo {
  font-size: 1.6rem;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  color:  #000769;
  margin-bottom: 0px;
}

.topicos-lista,
.dicas-lista {
  padding-left: 1.5rem;
  margin-bottom: 0px;
  font-size: 1rem;
  font-family: "Lato", sans-serif; 
}

.topicos-lista li, 
.dicas-lista li {
  margin-bottom: 0.2rem;  
}

.ajuda-container {
  width: 90%;
  background-color: rgb(0, 14, 216,0.8);
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.ajuda-titulo {
  font-size: 2rem;
  color: #f5f5f5;
  margin-bottom: 1rem;
}

.ajuda-texto {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #f5f5f5;
}

.dicas-rapidas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  color: #f5f5f5;
}

.dica-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dica-icon{
    color: white;
}


/* Dimensões */

/* Mobile S --> Mobile L*/
@media (max-width: 425px) {
  .disciplinas-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablet --> Laptop */
@media (min-width: 426px) and (max-width: 1024px) {
  .disciplina-titulo {
    font-size: 2rem;
  }

  .topicos-titulo, 
  .dicas-titulo {
    font-size: 1.9rem;
  }

  .topicos-lista,
  .dicas-lista {
    font-size: 1.3rem;
  }

  .ajuda-container {
    text-align: center;
  }

  .ajuda-titulo {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
  }

  .ajuda-texto {
    font-size: 1.5em;
    margin-bottom: 1rem;
  }

  .dicas-rapidas {
    font-size: 1.3rem;
    gap: 1.2rem;
  }

  .dica-item {
    gap: 2rem;
  }
}

/* Laptop L */
@media (min-width: 1025px) and (max-width: 1440px) {

  .feras-main-title {
    font-size: 3.5rem;
  }

  .feras-introduction {
    font-size: 2rem;
  }

  .disciplina-titulo {
    font-size: 2.5rem;
  }

  .disciplina-metadata {
    font-size: 1.5rem;
  }

  .disciplina-descricao {
    font-size: 1.4rem;
  }

  .topicos-titulo, 
  .dicas-titulo {
    font-size: 2rem;
  }

  .topicos-lista,
  .dicas-lista {
    font-size: 1.5rem;
  }

  .ajuda-container {
    text-align: center;
  }

  .ajuda-titulo {
    font-size: 2.8rem;
    margin-bottom: 1.3rem;
  }

  .ajuda-texto {
    font-size: 1.8em;
    margin-bottom: 1rem;
  }

  .dicas-rapidas {
    font-size: 1.5rem;
    gap: 1.2rem;
  }

  .dica-item {
    gap: 2rem;
  }
}

/* 4K */
@media (min-width: 1441px) {
  
  .feras-main-title {
    font-size: 3.5rem;
  }

  .feras-introduction {
    font-size: 2rem;
  }

  .disciplina-titulo {
    font-size: 2.5rem;
  }

  .disciplina-metadata {
    font-size: 1.5rem;
  }

  .disciplina-descricao {
    font-size: 1.4rem;
  }

  .topicos-titulo, 
  .dicas-titulo {
    font-size: 2rem;
  }

  .topicos-lista,
  .dicas-lista {
    font-size: 1.5rem;
  }

  .ajuda-container {
    text-align: center;
  }

  .ajuda-titulo {
    font-size: 2.8rem;
    margin-bottom: 1.3rem;
  }

  .ajuda-texto {
    font-size: 1.8em;
    margin-bottom: 1rem;
  }

  .dicas-rapidas {
    font-size: 1.5rem;
    gap: 1.2rem;
  }

  .dica-item {
    gap: 2rem;
  }
}