.secao-projeto {
    width: 100vw;
    height: min-content;
}

.secao-projeto .titulo-secao {
    width: 100%;
    height: 20vh;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.secao-projeto .block {
    height: 75vh;
    width: 100vw;
    display: flex;
}

.secao-projeto .esquerda {
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.secao-projeto .esquerda .imagem-exemplo {
    width: 30vw;
    height: 30vh;
}

.secao-projeto .esquerda .container-texto {
    width: 50%;
    text-align: left;
    height: auto;
    border-radius: 16px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.4;
    background: transparent;
    backdrop-filter: blur(8px);
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.secao-projeto .esquerda .container-texto:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.3);

}

.secao-projeto .direita {
    width: 49%;
}