/* Container que organiza o texto à esquerda e a imagem à direita */
.titulo-vertentes-container {
  display: flex;
  justify-content: space-between; /* Espaça os dois blocos (texto e imagem) */
  align-items: center;            /* Alinha verticalmente ao centro */
  width: 70%;
  margin: 0.5rem auto 3rem auto;  /* Centraliza horizontalmente com margin auto */
  padding: 1rem;
  margin-top: 0px;
  margin-bottom: 1rem;
}

/* Bloco de texto alinhado à esquerda */
.titulo-vertentes {
  flex: 1;                        /* Ocupa o máximo de espaço possível */
  text-align: left;              /* Alinha o texto à esquerda */
}

/* Estilo do título */
.titulo-vertentes h1 {
  font-size: 2.2rem;
  color: rgb(40, 40, 104);
  font-family: var(--fonte-titulo);
  letter-spacing: 2px;
}

/* Bloco da imagem (lado direito) */
.foto-pet {
  flex: 0 0 150px;               /* Fixa a largura da coluna da imagem */
  display: flex;
  justify-content: center;       /* Centraliza horizontalmente a imagem */
  align-items: center;           /* Centraliza verticalmente */
  padding: 10px;
  margin-right: 10%;
}

/* Tamanho da imagem */
.logo-pet-linhas {
  width: 100%;                   /* A imagem ocupa 100% do bloco da direita */
  max-width: 120px;              /* Limita o tamanho máximo da imagem */
  height: auto;
}

@media (max-width: 768px) {
.titulo-vertentes-container {
  width: 90%;
  margin-top: 3%;
}
}

@media (max-width: 380px) {
  .titulo-vertentes h1 {
  font-size: 1.7rem;
}
}