.functionPAI{
    position: relative;
}

.container-aurora {
    width: 100%;
    height: 20vh;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    z-index: 10;
    background-color: red;
}

.tela-sobre {
    display: flex;
    width: 100%;
    height: 100%;
}

/*seção destinada a parte esquerda da pagina SOBRE*/
.secao-esquerda {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*seção destinada a parte direita da pagina SOBRE*/
.secao-direita {
  width: 50%;
    height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/*resposividade monitor*/
@media screen and (min-width: 1600px) {
    .container-aurora{
      height: 10vh;
    }
}

/*resposividae mobile*/
@media screen and (max-width: 768px) {
  .tela-sobre {
    flex-direction: column;
    height: 100vh; /* deixa altura automática para evitar cortes */
  }

  .secao-esquerda,
  .secao-direita {
    width: 100%;
    height: 25%;
    box-sizing: border-box;
  }

  .container-aurora {
    height: 30vh; /* reduz altura para caber melhor no mobile */
  }
}