.container-esquerda{
    display: flex;             
    align-items: center;       
    justify-content: center;   
    gap: 120px;  
    margin-top: 100px;
}

.container-texto-esquerda{
    width: 100%;
    font-size: 1.9rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    margin-top: 60px;
}

.container-foto-esquerda{
    width: 50%; 
    display: flex;
    justify-content: center;     
    align-items: center;   
    margin-top: 20px;
}

.container-foto{
    width: 120px;
}

.aboutPET{
    display: flex;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.2rem;
    text-align: justify;
    justify-content: center; 
    align-items: center;
    line-height: 1.3;
}

.container-ABOUT{
    background-color: transparent;
    color: #000000;
    max-width: 600px;
}

.texto-hiperlink {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: #000000; 
  text-align: center; 
  margin-top: 10px;
}

.link-pet {
  color: rgb(30, 0, 199);
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.2s;
}

.link-pet:hover {
  color: rgb(9, 0, 59);
}

/* responsividade telas grandes (monitor)*/
@media screen and (min-width: 1600px) {
    .container-esquerda {
        gap: 180px; 
        margin-top: 160px;
    }

    .container-texto-esquerda {
        margin-left: 120px;
        margin-top: 70px;
        max-width: 700px; 
    }

    .container-foto-esquerda {
        margin-right: 80px; 
        margin-top: 60px;
    }

    .container-foto {
        width: 110px; /* Larger photo */
    }

    .aboutPET {
      margin-top: 60px;
        font-size: 1.3rem; 
        line-height: 1.6; 
    }

    .container-ABOUT {
        max-width: 800px; 
    }

    .texto-hiperlink {
        font-size: 1.2rem;
        margin-top: 30px;
    }
}

/*responsividde mobule */
@media screen and (max-width: 768px) {
    .container-esquerda{
    gap: 50px;  
}

.container-texto-esquerda{
    font-size: 1.2rem;
    margin-top: 40px;
}


.aboutPET{
    font-size: 0.8rem;
    margin: 5px;
}

.container-ABOUT{
    max-width: 400px;
}

.texto-hiperlink {
  font-size: 0.7rem;
  margin-top: 10px;
}
}