.paginaInicial-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagemFundo-container {
    position: absolute;
    width: 40%;
    height: 70%;
    margin-top: 7%;
    margin-left: 5%;
}

.imagemFundo-paginaInicial {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.texto-overlay-container {
    position: absolute;
    width: 50%;
    margin-left: 47%;
    margin-top: 5%;
}

.texto-box {
    padding: 5px 40px;
    position: relative;
}

.titulo-texto-paginaInicial {
    font-size: 2.8rem;
    color: #000000;
    text-align: left;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.corpo-texto-paginaInicial {
    font-size: 1rem;
    line-height: 1.5;
    color: #292929;
    text-align: justify;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
}

.texto-hiperlink-paginaInicial {
    font-size: 1rem;
    color: #292929;
    text-align: left;
    letter-spacing: 0.5px;
    font-family: "Lato", sans-serif;
}

.link-paginaInicial {
    color: #023d8b;
    text-decoration: none;
    font-weight: bold;
}

.link-paginaInicial:hover {
    text-decoration: underline;
}