.paginaInicial-container {
  position: relative;
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}

.imagemFundo-container {
  width: 50%;
}

.imagemFundo-paginaInicial {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.texto-overlay-container {
  width: 50%;
  flex: 2 1 400px;
  margin: 0
}

.texto-box {
  padding: 1rem 2rem;
}

.titulo-texto-paginaInicial {
  font: var(--title-font);
  color: #000;
  text-align: left;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.corpo-texto-paginaInicial {
  font: var(--paragraph-font);
  line-height: 1.6;
  color: #292929;
  text-align: justify;
  margin-bottom: 1rem;
}

.texto-hiperlink-paginaInicial {
  font: var(--other-font);
  color: #292929;
  text-align: left;
}

.link-paginaInicial {
  color: #023d8b;
  text-decoration: none;
  font-weight: bold;
}

.link-paginaInicial:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .paginaInicial-container {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .texto-overlay-container {
    width: 100%;
  }

  .titulo-texto-paginaInicial {
    text-align: center;
  }

  .texto-hiperlink-paginaInicial {
    text-align: center;
  }

  .paginaInicial-container {
    flex-direction: column;
    gap: 1rem;
    /* padding: 1.5rem 1rem; */
  }

  .imagemFundo-container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .paginaInicial-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .imagemFundo-container {
    width: 40%; /* reduz a imagem para não ficar tão distante do texto */
    margin-bottom: 1rem; /* aproxima do texto */
  }

  .titulo-texto-paginaInicial {
    text-align: center;
    letter-spacing: 0; /* remove o espaçamento exagerado no mobile */
    font-size: 1.8rem; /* controla melhor o tamanho */
    margin-bottom: 0.8rem;
  }

  .corpo-texto-paginaInicial {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }

  .texto-hiperlink-paginaInicial {
    text-align: center;
  }
}