.Footer__logo-computacao-ufcg {
  width: 99%;
  height: 70px;
  display: flex;
  justify-content: end;
}

.container-footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; 
  background: linear-gradient(to right, #0B1D51, #0D47A1, #1565C0, #1E88E5, #42A5F5);
  overflow-x: hidden;
}

.footer__infos {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
}

.infos__contatos {
  width: 50%;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.imagem-footer--pet {
  width: 200px;
  height: 200px;
}

.footer__social-links {
  width: min-content;
  display: flex;
  justify-content: center;
  gap: 8%;
}

.footer__social-icon--github,
.footer__social-icon--linkedin,
.footer__social-icon--instagram,
.footer__social-icon--email {
  width: 50px;
  transition: transform 0.4s;
}

.footer__social-icon--github {
  color: black;
}

.footer__social-icon--linkedin {
  color: #0c7fbd
}

.footer__social-icon--email {
  color: gray;
}

.footer__social-icon--instagram {
  color: #a4099a;
}

.footer__social-icon--github:hover,
.footer__social-icon--linkedin:hover,
.footer__social-icon--instagram:hover,
.footer__social-icon--email:hover {
  transform: translateY(-2px);
}

.infos__maps {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-maps {
  width:  70%;
  height: 90%;
}

.footer__copyright {
  width: 100%;
  height: min-content;
  text-align: center;
  color: white;
}

@media (max-width: 1023px) {
  .Footer {
    margin-top: 10%;
    height: min-content;
  }

  .Footer__logo-computacao-ufcg {
    height: 50px;
    justify-content: center;
  }

  .footer__infos {
    flex-direction: column;
  }

  .infos__contatos {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagem-footer--pet {
    width: 120px;
    height: 120px;
  }

  .infos__maps {
    width: 100%;
    height: 90%;
  }

  .container-maps {
    width:  70%;
  }

  .footer__copyright {
    font-size: small;
  }

  .footer__social-links {
    gap: 15%;
    margin-bottom: 10%;
  }

  .footer__social-icon--github,
  .footer__social-icon--linkedin,
  .footer__social-icon--instagram,
  .footer__social-icon--email {
    width: 30px;
  }
}
