.site-footer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(83, 83, 83);
  height: 100%;
}

.sesaodireita-footer{
  width: 50%;
  height: 100%;
}

.titulofooter-container{
  height: 60%;
  margin-top: 70px;
  margin-left: 40px;
}

.titulofooter{
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2.0rem;
  font-weight: 600;
  display: flex;
  justify-content: center; 
  align-items: center;
  background: rgb(59, 59, 59);
  padding: 20px;
  border-radius: 15px;
  margin-top: 110px;
}

.linksImportantes-footer{
  height: 50%;
  width: 100%;
  justify-content: center; 
  align-items: center;
  display: flex;
}

.listafooter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  background: rgb(59, 59, 59);
  padding: 20px;
  border-radius: 15px;
}

.linkfooter {
  font-family: 'Roboto',sans-serif;
  display: inline-block;
  padding: 12px 20px;
  background-color: #233d61; 
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.linkfooter:hover {
  transform: translateY(-2px);
  text-decoration: underline;
}



.image-left-container{
  margin-left: 20px;
  margin-top: 0px;
}

.footer-imageleft{
  width: 25%;
}