.navbar-container {  
  margin-left: auto;
  padding-right: 50px;
}

.navbar-list {
  display: flex; 
  gap: 55px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem; /* Tamanho original */
  padding: 5px 0;
  display: inline-block;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.navbar-link:hover {
  font-size: 1.4rem;
  transform: scale(1.10);
  color: #ffffff;
}

.navbar-link:active {
  transform: scale(0.98);
}
