.content-whapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
}

/* parte ESQUERDA da pagina */
.Texto-Esquerda-whapper{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.tituloTexto-PET-PaginaInicial-container{
    width: 100%;
    margin-top: 8%;
    height: 25%;
    text-align: center;
}

.titulo-Texto-PaginaInicial{
    width: 100%;
    height: 80%;
}

.titulo-texto{
    font-size: 3.2rem;
    font-style: normal;
    font-variant: normal;
    line-height: 1.4em;
    font-family: "caudex", serif;
    color: #21008b;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}

.corpoTexto-PET-PaginaInicial-container{
    margin: 2%;
}

.corpo-texto{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: justify;
}

.ConhecaMaisPET-PaginaInical-Container{
    margin-top: 2%;
}

.texto-hiperlink {
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  color: #000000; 
  text-align: center; 
  letter-spacing: 1px;

}

.link-pet {
  color: rgb(30, 0, 199);
  font-weight: 600;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  transition: color 0.2s;
}

.link-pet:hover {
  color: rgb(9, 0, 59);
}




/* parte DIREITA da pagina */

.image-Direita-whapper{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
}

.image-direita-container{
    width: 95%;
    height: 95%;
    margin-left: 5%;
}

.foto-paginainicial{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

