.page-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}


.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-direction: row-reverse; 
}


.hero-banner {
  width: 350px;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.page-title {
  font: var(--title-font);
  color: #222;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

/* ------------ SEÇÕES ------------ */

.section-title {
  font: var(--title-paragraph-font);
  margin-bottom: 1rem;
  color: #111;
}

.paragraph {
  font: var(--paragraph-font);
  line-height: 1.6;
  color: #333;
  margin-bottom: 1rem;
  text-align: justify;
}

.section-list {
  padding-left: 1.2rem;
  font: var(--paragraph-font);
  line-height: 1.5;
  color: #333;
  text-align: justify;
}

.subsection-title {
  font: var(--title-paragraph-font);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.download-link {
  font: var(--other-font);
  color: #fff;
  background-color: #023d8b;
  text-decoration: none;
  font-weight: bold;

  font-size: 1.1rem;
  padding: 12px 20px;
  border-radius: 8px;

  display: inline-block; /* importante para virar um bloco */
}

.download-link:hover {
  text-decoration: underline;
}

.page-section {
  margin-bottom: 2.5rem;
}
