@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root {
  --fonte-titulo: 'Playfair Display', serif;
  --fonte-corpo: "Lato", sans-serif;
}

html, body {
  background: #ffffff;
  overflow-x: hidden;
}

.header{
  height: min-content;
  width: 75vw;
  margin: 0 auto;
}
/*===========================================================*/

/* seção Página Inicial */
.paginaInicial{
  height: 85vh;
  width: 100vw;
}

/*===========================================================*/

/* seção Sobre */
.Sobre {
  height: 55vh;
  width: 100vw;
}

/*===========================================================*/

/* seção Projetos */
.Projetos {
  height: 95vh;
  width: 100vw;
}

/*===========================================================*/

/* seção Produções*/
.Producoes {
  height: 110vh;
  width: 100vw;
}


/*===========================================================*/

/* Pagina do Tutor */
.PaginaTutor {
  height: min-content;
  width: 100vw;
}

/*===========================================================*/

/* Pagina dos Membros */
.PaginaMembros {
  height: min-content;
  width: 100vw;
}

/*===========================================================*/

.Footer {
  height: 60vh;
  width: 100vw;
  overflow-y: hidden;
}
/*===========================================================*/

/* Responsividade MOBILE */

@media (max-width: 768px) {
  .header{
    height: 8vh;
    width: 100%;
  }

  .paginaInicial{
    height: 110vh;
    width: 100vw;
  }

  .Sobre {
    height: 110vh;
    width: 100vw;
  }

  .Projetos {
    height: 85vh;
  }
  .PaginaTutor {
    height: 65vh;
    width: 100vw;
  } 
} 

@media (max-width: 380px){
  .PaginaTutor {
    height: vh;
    width: 100vw;
  } 
}