@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


:root {
  --fonte-titulo: 'Playfair Display', serif;
  --fonte-corpo: "Lato", sans-serif;
}

html, body {
  background: #ffffff;
  overflow-x: hidden;
}

.header{
  height: 8vh;
  width: 75vw;
  margin: 0 auto;
}
/*===========================================================*/

/* seção Página Inicial */
.paginaInicial{
  height: 80vh;
  width: 100vw;
  margin-top: auto;
}

/*===========================================================*/

/* seção Sobre */
.Sobre {
  height: min-content;
  width: 100vw;
}

/*===========================================================*/

/* seção Projetos */
.Projetos {
  height: min-content;
  width: 100vw;
  margin-bottom: 5vh;
}

/*===========================================================*/

/* seção Produções*/
.Producoes {
  height: min-content;
  width: 100vw;
  margin-bottom: 5vh;
}


/*===========================================================*/

/* Pagina do Tutor */
.PaginaTutor {
  height: min-content;
  width: 100vw;
}

/*===========================================================*/

/* Pagina dos Membros */
.PaginaMembros {
  height: min-content;
  width: 100vw;
}

/*===========================================================*/

.Footer {
  height: 65vh;
  width: 100vw;
  overflow-y: hidden;
}
/*===========================================================*/

/* Responsividade MOBILE */

@media (max-width: 768px) {
  .header{
    width: 100%;
  }

  .paginaInicial{
    height: min-content;
  }

  .Sobre {
    height: min-content;
  }

  .Projetos {
    height: min-content;
  }

  .Producoes {
    height: min-content;
  }

  .PaginaTutor {
    height: min-content;
  }

  .Footer {
    height: min-content;
  }
} 
