.logo-container {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.logo-image {
  width: 45%; 
  height: auto;
  display: block; 
  margin: 0 auto; 
}
