.container-sobre {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.container-sobre__pilares {
  margin-top:3%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
  z-index: 10;
}

.pesquisa-logo,
.ensino-logo,
.tutoria-logo {
  width: 5rem;
  height: 5rem;
  display: block;
  margin: -3.1rem auto 0 auto;
  background: #000dc9;
  padding: 0px 60px;
  border-radius: 10px;
}

.pilares__pesquisa,
.pilares__ensino,
.pilares__tutoria {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1rem;
  width: 25%;
  font-size: 1rem;
  line-height: 1.6;
  color: rgb(0, 0, 0);
  text-align: justify;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s ease;
}

.pesquisa__titulo,
.ensino__titulo,
.tutoria__titulo {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

/* vai da esquerda pra direita*/
.pilares__pesquisa:hover {
    transform: translate(3px, -1px) scale(1.05);
}

/*vai pra cima*/
.pilares__ensino:hover {
    transform: translateY(-1px) scale(1.05);
}

/*vai da direita pra esqierda*/
.pilares__tutoria:hover {
    transform: translate(-3px, -1px) scale(1.05);
}