/* Container geral do carrossel */
.carousel-container {
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

/* Container que envolve os slides do Swiper */
.swiper-wrapper {
  width: 100%;
}         

/* Estilo base dos slides */
.slide {
  height: 300px;             /* Altura fixa */
  padding: 20px;             /* Espaçamento interno */
  border-radius: 16px;       /* Bordas arredondadas */
  transition: all 0.3s ease; /* Animação suave */
  text-align: center;        /* Texto centralizado */
  display: flex;             /* Alinhamento vertical */
  flex-direction: column;
  justify-content: center;
}

/* Slide que está no centro (ativo) */
.slide.active {
  background-color: white;                     /* Fundo branco */
  transform: scale(0.95);                      /* Levemente maior */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  /* Sombra forte */
  border: 1px solid black;                             
}

/* Slides laterais (não ativos) */
.slide.inactive {
  background-color: #f3f5fc;                    /* Cinza claro */
  transform: scale(0.85);                       /* Menor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);     /* Sombra leve */
}

/* Título do slide */
.slide-title {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 3%;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

/* Texto do corpo do slide */
.slide-body {
  font-size: 1rem;
  color: #000000;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: justify;
}