/* Container geral do carrossel */
.carousel-container {
  width: 100%; 
  height: 100%; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

/* Container que envolve os slides do Swiper */
.swiper-wrapper {
  width: 100%;
}         

/* Estilo base dos slides */
.slide {
  height: 250px;             /* menor altura */
  border-radius: 16px;       /* Bordas arredondadas */
  transition: all 0.3s ease; /* Animação suave */
  text-align: center;        /* Texto centralizado */
  display: flex;             /* Alinhamento vertical */
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/* Slide que está no centro (ativo) */
.slide.active {
  background-color: white;
  transform: scale(0.95);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  padding: 2%;
}

/* Slides laterais (não ativos) */
.slide.inactive {
  background-color: #f3f5fc;                    /* Cinza claro */
  transform: scale(0.85);                       /* Menor */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);     /* Sombra leve */
  padding: 2%;
}

/* Título do slide */
.slide-title {
  font-size: 1.4rem;
  color: #000000;
  margin-bottom: 3%;
  font-family: var(--fonte-titulo);
  letter-spacing: 2px;
}

/* Texto do corpo do slide */
.slide-body {
  font-size: 0.9rem;
  color: #000000;
  font-family: var(--fonte-corpo);
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: justify;
}

@media (max-width: 768px) {        

  /* Estilo base dos slides */
  .slide {
    height: auto;            /* ajusta automaticamente */
    width: 80%;              /* ocupa 80% da largura disponível */
    max-width: 300px;        /* mas nunca maior que 300px */
    margin: 0 auto;          /* centraliza de verdade */
    padding: 15px;
  }

  /* Slide que está no centro (ativo) */
  .slide.active {
    transform: scale(1);                      /* Levemente maior */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);  /* Sombra forte */
  }

  /* Slides laterais (não ativos) */
  .slide.inactive {
    transform: scale(0.75);                       /* Menor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);     /* Sombra leve */
  }

  /* Título do slide */
  .slide-title {
    font-size: 1.6rem;
  }

  /* Texto do corpo do slide */
  .slide-body {
    font-size: 0.95rem;
    color: #000000;
    font-family: var(--fonte-corpo);
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: justify;
  }
}

@media (max-width: 380px) {
  /* Estilo base dos slides */
   .slide {
    width: 90%;              /* 🔹 ocupa mais em telas pequenas */
    max-width: 260px;
    padding: 10px;
  }

  /* Título do slide */
  .slide-title {
    font-size: 1rem;
  }

  /* Texto do corpo do slide */
  .slide-body {
    font-size: 0.7rem;
    color: #000000;
    font-family: var(--fonte-corpo);
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: justify;
  }
}